:root {
  --video-media-color: rgb(64,255,64);
  --photo-media-color: rgb(255,64,64);
  --gif-media-color: rgb(64,64,255);
}

body {
    background-color: #111111;
    color: #EEEEEE;
}
#dialog {
    margin-right: 0px;
    width: 25vw;
    height: 25vh;
    border: 0px;
    background-color: #222222;
    color: #EEEEEE;
}

.main {
    width: 100vw;
}
.invisible {
    display:none;
}
.wall-stack {
    width: 100%;

}
.wall-stack-count {
    font-size:  2rem;
    vertical-align: top;
    text-align: center;
}
.wall-stack .wall-stack-media img {
    width: 75px;
    height: 75px;
    max-width: 75px;
    max-height: 75px;
    z-index: 0;

      animation-duration: 0.2s;
      animation-name: animate-pop;
      animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
}


.wall-stack-media .video {
    border: 2px var(--video-media-color) solid;
 }
.wall-stack-media .video:hover  {
   background-color: var(--video-media-color);
   box-shadow: 0px 0px 5px 5px  var(--video-media-color);
 }

.wall-stack-media .photo {
    border: 2px var(--photo-media-color) solid;
}
.wall-stack-media .photo:hover  {
    background-color: var(--photo-media-color);
    box-shadow: 0px 0px 5px 5px  var(--photo-media-color);
}

.wall-stack-media .animated_gif {
    border: 2px var(--gif-media-color) solid;
}
.wall-stack-media .animated_gif:hover  {
    background-color: var(--gif-media-color);
    box-shadow: 0px 0px 5px 5px  var(--gif-media-color);
}

#player {

     position:fixed;
        top:0;
        right:0px;
       overflow: scroll;
       height:100%;
       text-align: justify;
       padding: 10px;
}

#player img {
    height: 320px;
    max-height: 320px;
    max-width: 100%;
}
#player video {
    height: 640px;
    max-height: 640px;
    max-width: 100%;
}
@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
    border: 0px;
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);

  }
}
.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}
.button-success,
.button-error,
.button-warning,
.button-secondary {
 color: white;
 border-radius: 4px;
 text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
 background: rgb(28, 184, 65);
}

.button-error {
 background: rgb(202, 60, 60);
}

.button-warning {
 background: rgb(223, 117, 20);
}

.button-secondary {
 background: rgb(66, 184, 221);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
summary {
    font-weight:bolder;
    padding: 10px;
    font-size : 1.4em;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  vertical-align: middle;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 72px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
 .slider:before {
     content: 'Stopped';
     color: black;
 }
 input:checked + .slider:before {
     content: 'Running';
     color: black;
 }

 .rule {
    font-weight :  bolder;
 }